

#response {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#response div {
    text-align: center;
}

#response img {
    max-width: 200px;
    height: auto;
}

.qr-container {
    margin-right: 20px; /* Margen entre los códigos QR */
    margin-left: 20px;
}


